![example branch parameter](https://github.com/skripchenkovl/cpp_hello_world_skripchenko/actions/workflows/test.yml/badge.svg)
