![example branch parameter](https://github.com/skripchenkovl/cpp_hello_world_skripchenko/workflows/test.yml/badge.svg?branch=number2)
